@model Zigbee2MqttAssistant.Models.Mqtt.Bridge
@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>

<p>
    Bridge State: @(Model.Online ? "online" : "offline") <br />
    Current Log Level: @Model.LogLevel <br />
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Allow Join</h5>
        @if (Model.PermitJoin)
        {
            <span class="badge badge-danger">DEVICES ARE CURRENTLY ALLOWED TO JOIN NETWORK.</span>
        }
        <form method="post">
            @if (Model.PermitJoin)
            {
                <button class="btn" type="submit" asp-action="AllowJoin" asp-route-permitJoin="false">DENY NEW DEVICES TO JOIN NETWORK</button>
            }
            else
            {
                <button class="btn" type="submit" asp-action="AllowJoin" asp-route-permitJoin="true">ALLOW NEW DEVICES TO JOIN NETWORK</button>
            }
        </form>
        <p>
            Use this feature to allow new devices to join the network.
        </p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Reset</h5>
        <form method="post">
            <button class="btn bg-danger" asp-action="Reset">RESET</button>
        </form>
        <br />
        Use this to force Zigbee2Mqtt to restart from scratch. Useful if the state is not sync with Zigbee2Mqtt.
        If could mean there's a bug. If it's the case, please report it!
    </div>
</div>
